{% extends 'base.html.twig' %}

{% block body %}
 {% for post in posts %} 
    <article class="row card-panel hoverable">
        <div class="col s12">
            <div class="titulo">{{post.title}}</div>
            <div class="abstract">{{post.content}}</div>
        </div>
    </article>
    <div class="divider"></div>
 {% endfor %}
{% endblock %}


